html {
    scroll-behavior: smooth;
    }
    
    body {
    background: #D6CAAF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1280px;
        padding: 0 24px;
        
        }
        .field {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 48px;
        column-gap: 24px;
        width: 100%;
        }
        
        .holle {
        max-width: 100%;
        height: auto;
            }
 .holles {
    display: flex;
    gap: 48px;
    width: 100%;

 }

 .holles_row {
    display: flex;
    flex-direction: column;
    gap: 48px;
 }

 .holles_column {
    display: flex;
    flex-direction: row;
    gap: 48px;
    width: 100%;
 }
        .p_image {
         max-width: 100px;
         max-height: 100px;
          position: absolute;
          bottom: -61px;
            right: 11px;
           border-radius: 0 0 55% 50%;
        }

        .op_image {
            display: none;
            max-width: 100px;
            max-height: 100px;
        position: absolute;
             bottom: -62px;
            right: 11px;
            border-radius: 0 0 55% 50%;
        }
        
        .overlay_image {
            position: absolute;
            bottom: -63px;
            left: 2px;
            max-width: 72%;
            height: auto;
        }

        .overlay_image2 {
            position: absolute;
            bottom: -83px;
            left: -16px;
            max-width: 77%;
            height: auto;
            opacity: 0;
            transition: opacity 1.5s;
            display: none;
        }

        .col1 {
            grid-column: span 1;
            }

        .col5 {
        grid-column: span 5;
       
        }
        
        footer {
            display: flex;
            margin: 0px 56px;
            width: -webkit-fill-available;
            justify-content: space-between;
            align-items: center
            }
            
            h6 {
            color:#000;
            font-family: roboto;
            font-size: 15px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: capitalize;
            margin: 0;
            }
            
            .logo-image {
            width: 80px;
            height: 60px;
            opacity: 15%;
            }
            
            a {
            text-decoration: none;
            color: #000;
            cursor: pointer;
            }


.holle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

/* Стили для строк .row */
.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

/* Стили для колонок .column */
.column {
    flex: 1;
    padding: 12px;
   
}

.column_empty {
    flex: 1;
    padding: 12px;
   
}

.holl1, .holl2, .holl3, .holl4, .holl5, .holl6, .holl7, .holl8 {
    position: relative;

}

.cat {
    position: absolute;
    width: 100%;
    height: auto;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
    display: none;
}

.cat.cat_up {
    opacity: 1;
    display: block;
}

.overlay_image2.cat_up {
    opacity: 1;
    display: block;
}

/* Стили для изображений .image, .p_image и .op_image */
.image, .p_image, .op_image {
    max-width: 100%;
    height: auto;
}

/* Стили для аудио */
audio {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}


.play-button {
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    border: 0.5px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    position: absolute;
    left: 56px;
    top: 32px;
    background-color: transparent; /* Добавляем прозрачный фон */
  }
  
  .play-button:hover {
    width: 48px;
    height: 48px;
  }
  
  .play-button.play::before {
    content: ">";
  }
  
  .play-button.pause::before {
    content: "\II";
  }
  .your_score {
    position: absolute;
    right: 56px;
    top: -1px;
    border:solid 0.8px #000;
    padding: 33px 48px;
  }

  .score{
    padding-top: 4px;
    padding-bottom: 12px;
  }
  
.time {
    display: flex;
    padding-top: 4px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
    height: 100%;
    background-color:  #D6CAAF;
     flex-direction: column;
    align-items: center;
    justify-content: center;
   
    padding: 0 24px;
    }

    .modal_content {
        display: flex;
        flex-direction: column;
        width: 420px;
        height: auto;

        text-align: center; 

/* Roboto 32px */
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 41px; /* 128.125% */
letter-spacing: 0.4px;
    }

    .final_score {
   margin-top: 12px;    

  
   text-align: center;
   /* Roboto 22px */
   font-family: Roboto;
   font-size: 22px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   letter-spacing: 0.33px;
    }
.top {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;  
/* Roboto 15 medium */
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.225px;
}
.top_column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.go_back {
    margin-top: 28px;
 text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Roboto;
font-size: 22px;
font-style: italic;
font-weight: 300;
line-height: normal;
letter-spacing: 0.33px;
}

    .exit {
        width: 95%;
     display: flex;
     align-items: center;
       margin: auto;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        transition: width 0.3s ease-out;
        padding-bottom: 56px;
    }
    .exit:hover {
        width: 100%;
    }

    .back_line {
        height: 0.8px;
        width: 100%;
        max-width: 399px;
        background-color: #000;
    }